In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
ruta ='data/Historico_de_Precios_Productos_de_la_Canasta_Familiar_RAP_Eje_Cafetero_20251109.csv'
df = pd.read_csv(ruta, sep=',')

In [11]:

print(f'Número de filas: {df.shape[0]}\nNúmero de columnas: {df.shape[1]}')

Número de filas: 83813
Número de columnas: 9

In [12]:
print(df.columns)

Index(['Productos', 'Mercados', 'Precio_mínimo', 'Precio_máximo',
       'Precio_medio', 'Fecha_inicial', 'Fecha_final', 'Categoria', 'Ciudad'],
      dtype='object')

In [13]:
df['Categoria'].unique()

array(['Frutas', 'Verduras y Hortalizas', 'Carnes', 'Procesados',
       'Tubérculos, Raíces y Plátanos', 'Granos y Cereales',
       'Huevos y Lácteos', 'Pescados'], dtype=object)

In [14]:
condicion = df['Categoria'] == 'Frutas'
df_cereales = df[condicion]

In [15]:
df

,Productos,Mercados,Precio_mínimo,Precio_máximo,Precio_medio,Fecha_inicial,Fecha_final,Categoria,Ciudad
0,Patilla,"Pereira, Mercasa","2,000","2,500","2,090","sábado, 30 de marzo de 2024","viernes, 5 de abril de 2024",Frutas,Pereira
1,Limón Tahití,"Pereira, Mercasa","2,000","2,500","2,167","sábado, 23 de marzo de 2024","miércoles, 27 de marzo de 2024",Frutas,Pereira
2,Naranja Sweet,"Pereira, Mercasa","2,000","2,500","2,267","sábado, 23 de marzo de 2024","miércoles, 27 de marzo de 2024",Frutas,Pereira
3,Naranja Valencia,"Pereira, Mercasa","2,000","2,500","2,267","sábado, 23 de marzo de 2024","miércoles, 27 de marzo de 2024",Frutas,Pereira
4,Patilla baby,"Pereira, Mercasa","2,000","2,500","2,267","sábado, 23 de marzo de 2024","miércoles, 27 de marzo de 2024",Frutas,Pereira
...,...,...,...,...,...,...,...,...,...
83808,Trucha en corte mariposa,"Manizales, Centro Galerías","22,500","23,500","23,000","sábado, 4 de enero de 2025","viernes, 10 de enero de 2025",Pescados,Manizales
83809,Trucha en corte mariposa,"Manizales, Centro Galerías","22,000","23,500","22,750","sábado, 11 de enero de 2025","viernes, 17 de enero de 2025",Pescados,Manizales
83810,Trucha en corte mariposa,"Manizales, Centro Galerías","22,000","23,500","22,750","sábado, 18 de enero de 2025","viernes, 24 de enero de 2025",Pescados,Manizales
83811,Trucha en corte mariposa,"Manizales, Centro Galerías","22,000","23,500","22,750","sábado, 25 de enero de 2025","viernes, 31 de enero de 2025",Pescados,Manizales
83812,Trucha en corte mariposa,"Manizales, Centro Galerías","22,000","23,500","22,750","sábado, 1 de febrero de 2025","viernes, 7 de febrero de 2025",Pescados,Manizales